{% extends 'app1/base.html' %}


{% block body_block %}

<div class="class-container">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/3EzKBFc9_MQ?si=2yJbaShbATNgghHm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h2 class="class-text">Django Course Introduction</h2>
    <p class="intro-section">Django is a high-level Python web framework that allows developers to build 
        robust, secure, and scalable web applications quickly and efficiently. 
        It follows the “batteries-included” philosophy, providing built-in tools 
        for database management, authentication, URL routing, and templating, which 
        makes web development faster and more organized.
    </p>
    <p class="intro-section">At SkillBridge, the Django course is designed to give learners both theoretical 
        knowledge and practical experience in building real-world web applications. 
        The training begins with Python basics and an introduction to web development 
        concepts before moving into Django fundamentals such as models, views, 
        templates (MVT architecture), URL routing, and forms.
    </p>
    <p class="intro-section">
        Students will learn how to interact with databases using Django’s 
        Object-Relational Mapping (ORM), manage users and authentication, 
        and implement dynamic web pages. Advanced topics like Django REST 
        framework, API creation, deployment, and security best practices are also 
        covered, allowing learners to create full-stack web applications.
    </p>
    <p class="intro-section">
        The course emphasizes hands-on projects, including building blogs, 
        e-commerce websites, and dashboards, giving students practical experience 
        and confidence in real-world scenarios. By the end of the training, learners
         will be able to develop fully functional web applications using Django, 
         integrate frontend designs, and deploy them efficiently.
    </p>
    <p class="intro-section">This Django course is ideal for beginners, Python developers, and IT professionals 
        who want to enhance their web development skills and pursue careers in full-stack 
        development or backend engineering.
    </p>
</div>



{% endblock %}