{% extends 'app1/base.html' %}


{% block body_block %}

<div class="class-container">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/2dZiMBwX_5Q?si=vMuNIDfJNiI6SK_H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h2 class="class-text">Java Course Introduction</h2>
    <p class="intro-section">Java is one of the most widely used and powerful programming languages in the 
     software industry. Known for its simplicity, platform independence, and strong 
     object-oriented features, Java is used to develop a wide range of applications,
     from web and mobile apps to enterprise-level software systems. Its “write once, 
     run anywhere” philosophy makes it a favorite among developers and organizations 
     worldwide.
    </p>
    <p class="intro-section">The Java course at SkillBridge is designed to provide learners with a solid 
        understanding of programming fundamentals while focusing on real-time implementation. 
        The training starts with the basics, including Java syntax, data types, operators, 
        and control flow statements, helping beginners grasp the core concepts of programming.
    </p>
    <p class="intro-section">As students progress, they learn advanced topics such as object-oriented programming (OOP) c
        oncepts including classes, objects, inheritance, polymorphism, and abstraction. 
        The course also covers important Java features like exception handling, file handling,
        multithreading, collections, and Java APIs that are essential for building robust 
        applications.
    </p>
    <p class="intro-section">SkillBridge emphasizes hands-on learning through practical exercises, 
        live projects, and real-world examples. By the end of the course, 
        learners will be able to develop Java programs, understand core and 
        advanced concepts, and apply their knowledge in software development projects.
    </p>
    <p class="intro-section">This Java course is suitable for beginners, students, and professionals who want 
        to enhance their programming skills and pursue a career in software development, 
        web development, or enterprise application development.
    </p>
</div>

{% endblock %}