{%extends 'app1/base.html'%} 

{% block body_block %}

<div class="text-start">
    
    <h1 class="class-text">Latest News</h1>

    <ul class="news-list">
        <li>SkillBridge announces new Python Full Stack batch starting soon.</li>
        <li>Free demo classes available for beginners interested in IT courses.</li>
        <li>Weekend MERN Stack workshop registration now open.</li>
        <li>Student project showcase event scheduled this month.</li>
        <li>Placement preparation program starting for final-year students.</li>
    </ul>

</div>
    
    
{% endblock %}
