{% extends 'app1/base.html' %}

{% block body_block %}

<div class="class-container">
    <iframe width="100%" height="450" src="https://www.youtube.com/embed/PBTYxXADG_k?si=DyEO8pUdnTmgXVsb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h2 class="class-text">MERN Stack Course Introduction</h2>
    <p class="intro-section">
        The MERN stack is a modern web development framework that combines four powerful 
        technologies: MongoDB, Express.js, React.js, and Node.js. It is widely used to 
        build full-stack web applications with JavaScript on both the frontend and 
        backend, making development faster, more efficient, and highly scalable.
    </p>
    <p class="intro-section">At SkillBridge, the MERN Stack course is designed to equip learners with the 
        skills needed to develop complete web applications from scratch. The training 
        begins with the basics of JavaScript, followed by in-depth learning of Node.js 
        for backend development and Express.js for building robust APIs. Students then 
        learn MongoDB, a NoSQL database, for storing and managing data effectively.
    </p>
    <p class="intro-section">On the frontend, learners explore React.js, a popular library for building 
        interactive and responsive user interfaces. The course emphasizes integration 
        between frontend and backend, teaching students how to connect React applications
        with Express APIs and MongoDB databases to create fully functional web apps.
    </p>
    <p class="intro-section">
        Throughout the program, students work on real-time projects, including e-commerce 
        websites, dashboards, and social media applications, gaining practical experience 
        and building a strong portfolio. By the end of the course, learners will be able to 
        design, develop, and deploy scalable full-stack applications using the MERN stack.
    </p>
    <p class="intro-section">This course is suitable for beginners, web developers, and IT professionals who
       want to become full-stack developers and build modern, dynamic web applications 
       using JavaScript technologies.
    </p>
</div>

{% endblock %}