{% extends 'app1/base.html' %}

{% block body_block %} 

<div class="class-container">
    <iframe class="about-us-sec" width="100%" height="450" src="https://www.youtube.com/embed/Tlxe3l_m3PA?si=QczfEAOxQpnFBKyT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    
    <h2 class="class-text">Python Course Introduction</h2>

    <p class="intro-section">Python is one of the most popular and powerful programming languages 
    used in the software industry today. It is widely known for its simplicity, 
    readability, and versatility, making it an ideal language for beginners as 
    well as experienced developers. Python is used in many fields such as web 
    development, data science, artificial intelligence, automation, and software development.
    </p>

    <p class="intro-section">At SkillBridge, the Python course is designed to provide students with a strong foundation 
        in programming concepts while focusing on practical implementation and real-time 
        applications. The training begins with the basics of Python programming, including 
        syntax, variables, data types, operators, and control statements. Students will then 
        move on to more advanced topics such as functions, modules, file handling, and 
        exception handling.
    </p>

    <p class="intro-section">The course also covers object-oriented programming concepts like classes, objects, 
        inheritance, and polymorphism, which are essential for building scalable and 
        maintainable applications. In addition, learners will gain hands-on experience
        working with Python libraries and frameworks used in modern development
    </p>
    <p class="intro-section">Throughout the training program, students will work on practical assignments and 
        real-world projects that help them apply their knowledge and build confidence in 
        coding. By the end of the course, learners will be able to develop Python programs, 
        solve real-world problems, and understand how Python is used in various technology 
        domains.
    </p>
    <p class="intro-section">This course is suitable for beginners, students, and professionals who want to 
        start their programming journey or enhance their skills in Python programming and 
        software development.
    </p>
    </div>


{% endblock %}