img{
    width:100%;
    height:500px;
 
}

body{
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.welcome-page{
    margin:30px auto;
}

.welcome,
.whychoose-us,
.job{
    color:rgb(0, 145, 255);
    text-align:center;
    margin:10px;
}
.welcome-text,
.job-section{
    text-align:center;
    font-size:18px;
    color:rgb(125, 123, 123);
    padding:20px;
}

.card-container{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:40px;
}

.card{
    width:250px;
    background:#3ea0d6;
    padding:20px;
    text-align:center;
    border-radius:5px;
}

.card img{
    width:100%;
    height:150px;
}

.card h2{
    color:white;
    margin-top:10px;
}

.card p{
    color:black;
    font-size:16px;
}

.card button{
    margin-top:15px;
    padding:10px 20px;
    background:#d6b54c;
    border:none;
    font-size:18px;
    cursor:pointer;
}

.job-btn{
   display:block;
    width:150px;
    text-align:center;
    margin:30px auto;
    background-color:#d6b54c;
    padding:15px 20px;
    font-size:18px;
    cursor:pointer;
    color:black;
    font-weight:bold;
    border-radius:5px;
    border:none;
    text-decoration:none;
}
.job-btn:hover{
    text-decoration:none;
}



.about-us-sec{
   width:100%;
    
}
.about-us-sub{
    padding:20px;
}

.about-us-title,
.class-text{
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color:#3ea0d6;
    font-size:30px;
}

.video-title{
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color:#283fd5;
    font-size:30px;
}

.about-us-text,
.intro-section{
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    color:rgb(103, 101, 101);
}

.class-container{
    padding:10px;
    
} 
.class-text{
    padding-top:20px;
}



.parent-info{
    width:450px;
    padding:30px;
    background-color:rgb(52,52,169);
    border-radius:8px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
}

.parent-reg,
.contact-container{
    display:flex;
    justify-content:center;
    margin-top:40px;
    
}

.parent-info h1{
    text-align:center;
    color:white;
    margin-bottom:20px;
    font-family:'Times New Roman', Times, serif;
}

.parent-info label,
.contact-form label{
    color:white;
    font-size:18px;
    font-weight:bold;
}

.parent-info input,
.parent-info textarea,
.contact-form input,
.contact-form textarea{
    width:100%;
    padding:10px;
    margin-top:8px;
    margin-bottom:10px;
    border-radius:5px;
    border:1px solid #ccc;
    font-size:16px;
}

.parent-info button{
    width:100%;
    padding:12px;
    background-color:#d6b54c;
    border:none;
    border-radius:5px;
    margin-top:10px;
    font-size:18px;
    cursor:pointer;
}

/* Hover effect */
.parent-info button:hover{
    background-color:#c0a23f;
}

.address-info,
.contact-info{
    width:350px;
    padding:20px;
    background-color:rgb(52,52,169);
    border-radius:8px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
    margin:20px;

}

.address-info h1,
.contact-info h1,
.address-info h2{
    text-align:start;
    color:white;
    margin-bottom:20px;
    font-family:'Times New Roman', Times, serif;

}

.address-info p{
    text-align:start;
    color:white;
    font-family:'Times New Roman', Times, serif;
    font-size:20px;
}

.contact-btn{
    width:100%;
    padding:12px;
    background-color:#d6b54c;
    border:none;
    border-radius:5px;
    font-size:18px;
    cursor:pointer;

}


.latest-news{
    width:70%;
    margin:30px auto;
}

.news-list{
    list-style-type:square;
}

.news-list li{
    font-size:18px;
    padding:10px;
    border-bottom:1px solid #ccc;
}
/* table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
}

table {
    margin:auto;
    height: 300px;
    width: 60%;
}

 */