

{% extends 'app1/base.html' %} 


{% block body_block %}

{% load static %}

<div class="class-container">
    <h1 class="class-text video-title">Our Campus & Activities</h1>

    <p class="intro-section">At SkillBridge, learning goes beyond classrooms. Explore our workshops, 
        live sessions, student projects, and hands-on training moments captured in our 
        gallery. See how we empower learners with practical IT skills in real-time 
        environments.
    </p>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-6 mb-4">
                <h5 class="video-title">Python Course Intro</h5>
                <iframe width="100%" height="450" src="https://www.youtube.com/embed/Tlxe3l_m3PA?si=QczfEAOxQpnFBKyT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 mb-4">
                <h5 class="video-title">Java Course Intro</h5>
                <iframe width="100%" height="450" src="https://www.youtube.com/embed/2dZiMBwX_5Q?si=vMuNIDfJNiI6SK_H" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>

          <div class="row">
            <div class="col-md-6 mb-4">
                <h5 class="video-title">Django Course Intro</h5>
                <iframe width="100%" height="450" src="https://www.youtube.com/embed/3EzKBFc9_MQ?si=2yJbaShbATNgghHm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 mb-4">
                <h5 class="video-title">Mern Course Intro</h5>
                <iframe width="100%" height="450" src="https://www.youtube.com/embed/PBTYxXADG_k?si=DyEO8pUdnTmgXVsb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}